<div>
  <%= link_to root_path, class: "btn btn-circle absolute left-4 top-4 sm:left-6 sm:top-6 z-50" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
    </svg>
  <% end %>
  <div class="container mx-auto px-4 py-16 sm:py-8 flex items-center justify-center relative">
    <div class="w-full max-w-md space-y-6">
      <div class="text-center">
        <%= yield :auth_header %>
      </div>
      <div class="card bg-base-100 shadow-2xl">
        <div class="card-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>